@model ContactsModel

@{
    ViewData["Title"] = "Contacts";
}
<h1>Contacts</h1>
<p>
    Adress: <b>@Model.Adress</b>
</p>
<p>
    Phone: <b>@Model.Phone</b>
</p>
<p>
    Name: <b>@Model.Name</b>
</p>
